#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}

.game-card {
  border: 3px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  background: linear-gradient(to bottom right, yellow, orange, red);
  width: 150px;
  align-items: center;
  transition: .25s;
}

.game-card:hover {
  border: 3px solid yellow;
  position: relative;
  scale: 1.1;
}


.card {
  padding: 2em;
}

